/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Start Custom CSS*/

*{box-sizing: border-box;}

body{
    background-color: #BCEDB1;
}

main{
    width: 100%;
    height: 100vh;
    background-color: #BCEDB1;
}

h1{
    padding: 10px 0;
    font-size: 36px;
    color: #47233F;
}

p{
    line-height: 1.6em;
    font-size: 16px;
}

.hidden{
    display: none;
}

.content{
    padding: 40px;
    height: 100vh;
    display: flex;
}

.landing-page{
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.js-login{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 2px #1F1F1F;
    padding: 40px;
}

.js-login fieldset{
    display: flex;
    flex-direction: column;
}

input, legend{
    margin-top: 8px;
    margin-bottom: 20px; 
}

legend, h2{
    font-size: 24px;
    font-weight: bold;
    color: #47233F;
}

.event-page{
    display: flex;
    flex-direction: column;
}

.all-activities{
    display: flex;
    margin: 40px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activity{
    min-height: 200px;
    min-width: 100px;
    background-color: white;
    padding: 20px;
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px  #1F1F1F;
}

.contain-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal{
    background-color: white;
    min-height: 300px;
    min-width: 200px;
    z-index: 1;
}

.behind{
    z-index: -1;
}