/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Start Custom CSS*/

*{box-sizing: border-box;}

body{
    background-image: url(images/cork.png);
}

main{
    background-image: url(images/cork.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

section{
    width: 100%;
    height: 100vh;
}

h2{
    color: #021D59;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

h1{
    color: #024C24;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Walter Turncoat', cursive;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button:hover,
button:focus {
    box-shadow: 2px, 2px, 2px
}

button:focus {
    outline: 1px solid #BF4B05;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

p,{
    line-height: 1.6em;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

label{
    font-weight: bold;
    color: #021D59;
    margin-right: 20px;
    font-size: 22px;
}

form{
    display: flex;
    flex-direction: column;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fun-text{
    font-family: 'Pangolin', cursive;
    font-size: 22px;
    color: #0F402F;
}

.sticker{
    background-image: url(images/sticker-rectangle.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 24px;
    min-width: 150px;
    max-width: 200px;
    padding: 10px;
    color: #FFF485;
}

.intro-checklist{
    padding-left: 20px;
    color: #021D59;
    font-weight: bold;
    line-height: 1.6em;
    max-width: 400px;
    flex: auto;
}

.checklist{
    font-size: 24px;
    line-height: 2em;
}

.checklist::before{
    content: url(images/checkmark.png)
}

.emphasis{
    color: #0F4030;
    font-size: 24px;
    font-weight: bold;
}

.edit{
    border: solid 1px #0F4030;
    color: black;
    font-size: 16px;
    height: 20px;
    width: 40px;
    cursor: pointer;
    margin-left: 10px;
}

i{
    color: black;
    font-size: 20px;
    margin: 2px;
    padding: 2px;
}

.hidden{
    display: none;
}

.content{
    height: 100vh;
    padding: 40px;
    margin: 0 auto;
    display: flex;
}

.js-landing-page{
    background:
        linear-gradient(
            rgba(255, 255, 255, .6),
            rgba(255, 255, 255, .6)
        ),url(images/summerCamp.jpg);
    background-color: rgba(255, 255, 255, .6);
    background-size: cover;
}

.landing-page{
    background-image: url(images/paperStack.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-content{
    display: flex;
    margin: 25px 0;
}

.intro-text{
    max-width: 960px;
    margin: 0 auto;
    padding-left: 5%;
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
    display: flex;
    flex-direction: column;
    flex: auto;
}

.login-buttons{
    display: flex;
    justify-content: flex-start;
}

.js-make-account{
    -ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Safari */
    transform: rotate(-2deg);
    margin-left: 10px;
}

.js-log-in{
    margin-left: 10px;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Safari */
    transform: rotate(3deg);
}

.sample-buttons{
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    width: 250px;
    margin-left: -50px;
    justify-content: space-around;
    align-items: center;
}

.sample-user{
    background-image: url(images/sticker-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    color: #FFCC66;
    line-height: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-login{
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    min-height: 300px;
}

.js-login .sticker{
    align-self: flex-end;
}

legend{
    font-family: 'Walter Turncoat', cursive;
    color: #0F4030;
    font-size: 32px;

}

input, legend{
    margin-bottom: 20px; 
}


input{
    height: 40px;
    min-width: 150px;
    font-size: 16px;
}

input[type="checkbox"]{
    height: 30px;
    width: 30px;
    text-align: left;
}

#kid-friendly{
    width: 30px;
}

textarea{
    margin-bottom: 20px;
}

.event-page{
    display: flex;
    flex-direction: column;
}

.info-section{
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-between;
    padding: 20px;
}

.include-edit{
    display: flex;
    align-items: center;
}

.button-section{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-top: solid 1px #0F402F; 
}

.js-make-activity{
    width: 200px;
    align-self: flex-end;
}

.js-RSVP{
    z-index: 1;
}

.all-activities{
    display: flex;
    margin: 40px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activity, .event-information, .wrapper{
    min-height: 300px;
    min-width: 250px;
    background-color: rgba(255, 255, 255, .6);
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    border: solid 1px #0F402F;
    border-radius: 2%;
}

.activity{
    padding: 20px;
}

.wrapper{
    max-height: 400px;
}

.contain-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal{
    background-color: white;
    min-height: 300px;
    min-width: 200px;
    z-index: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: solid 2px #0F402F;
    border-radius: 2%;
    -webkit-box-shadow: 14px 26px 45px 4px rgba(0,0,0,0.69);
    -moz-box-shadow: 14px 26px 45px 4px rgba(0,0,0,0.69);
    box-shadow: 14px 26px 45px 4px rgba(0,0,0,0.69);
}

.behind{
    z-index: -1;
}

.text-input{
    width: 300px;
    height: 100px;
}

.activity-details, .activity-discussion{
    width: 100%
}

.activity-page{
    flex-direction: column;
}